beautifulsoup4==4.12.2
bs4==0.0.1
cached-property==1.5.2
certifi==2023.11.17
charset-normalizer==3.3.2
chevron==0.14.0
frozendict==2.4.0
genanki==0.13.1
idna==3.6
numpy==1.23.4
pandas==1.5.1
pyperclip==1.8.2
python-dateutil==2.8.2
pytz==2022.6
PyYAML==6.0.1
requests==2.31.0
six==1.16.0
soupsieve==2.5
urllib3==2.1.0
